<div class="conatiner-fluid">
    <div class="row ">
        <div class="col-12 align-self-center">

            <img class="d-block mx-auto my-3" src="./assets/img/burger.png" alt="Burger" srcset="">
            <h1 class="text-center">Eat-da-Burger</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 col-10 m-2 py-2">
            <h4 class="text-center mb-3">Burger Menu</h4>

            {{#each burgers}}
            {{#unless is_selected}}
            <div class="d-flex flex-wrap justify-content-between align-items-center uneaten mb-3 p-2 rounded-lg">
                <div id={{id}}>{{burger_name}}</div>
                <div class=" pl-0"> <a id={{burger_name}} class="d-inline-block btn  btn-dark devour"
                        href="/api/devour/{{id}}">Devour
                        it!</a>
                    <a class="d-inline-block btn  btn-danger " href="/api/delete/{{id}}"><i
                            class="far fa-trash-alt"></i></a>

                </div>
            </div>
            {{/unless}}
            {{/each}}

        </div>
        <div class="col-lg-4 col-md-5 col-10 m-2 py-2">
            <h4 class="text-center mb-3">Devoured Burgers</h4>

            {{#each burgers}}
            {{#if is_selected}}
            <div class="d-flex flex-wrap justify-content-between align-items-center eaten mb-3 p-2 rounded-lg">
                <div class="" id={{id}}>{{burger_name}}</div>
                <div class=" pl-0"> <a class="d-inline-block mx-3 btn btn-info" href="/api/remove/{{id}}">Remove
                        it!</a> </div>

            </div>
            {{/if}}
            {{/each}}

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="card mx-auto w-100 border-0 new-entry">
                <div class=" mx-auto my-3 display-5">Add a burger to the menu</div>
                <form action="/newburger" method="post">
                    <div class="form-group mx-auto px-3">
                        <textarea name="burger" id="burger-box" rows="2" class="w-100 display-5"></textarea>
                    </div>
                    <div class="form-group mx-auto">
                        <button class="btn btn-lg btn-danger d-block mx-auto" type="submit">Add to Menu</button>

                </form>
            </div>
        </div>
    </div>
</div>